<%= @user.name %>
<br />
<%= @friend_name %> gosta de :
<br />
<ul>
<% @friend_likes.each do |like| %>
	<% if like['category'] == "Musician/band" %>
		<li>
		<%= like['name'] %>
		</li>
	<% end %>
<% end %>
<ul>